<div class="page-width page-margin center">
  <p>
    404 - Página não encontrada
  </p>
  <h1 class="title">
    O conteúdo que você procurava não existe mais ou foi movido.
  </h1>
  <a href="{{ routes.root_url }}" class="button">
    Voltar para a Loja
  </a>
</div>

{% schema %}
{
  "name": "Página 404"
}
{% endschema %}
